<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Viesti lähetetty onnistuneesti</title>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" th:href="@{https://www.cs.helsinki.fi/u/holmbrob/kuvat/favicon.ico?=v2}" type="image/x-icon" />
    </head>
    <body>
        <h3>Viesti lähetetty onnistuneesti!</h3>
        <br />
        <a th:href="@{~/alueet}" style="text-decoration: none"><h2>Takaisin etusivulle</h2></a>
    </body>
</html>
